#carousel {
	.carousel-inner {
		.item {
			.cover {
				background-color: rgba(#000, .1) !important;
			}
		}
	}
}
.product {
	.picture {
		width: 250px;
		height: 250px;
		display: block;
		margin: 0 auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		position: relative;

		span{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 44px;
			height: 44px;
			color: #FFF;
			font-size: 56px;
			transition: .3s all ease;
			opacity: 0;
		}

		&:hover{
			span{
				opacity: 1;
			}
		}
	}

	p {
		margin: 0;

		a{
			font-weight: bold;
			
			span{
				margin-right: 4px;
			}
		}
	}
}

.modal-dialog {
	.lightbox-nav{
		.btn-group{
			a{
				color: #FFF;
				background-color: $main-color;
			}
		}
	}
	.lightbox-image-container{
		.lightbox-image-caption{
			bottom: 0;
			top: inherit;
		}
	}
}