.container
	.row.offset-top-60
		.col-xs-12
			.h2.text-lg.text-cursive.text-center Quem somos
			.separator
			p.text-center.text-sans.text-sm.text-light Desenvolvemos com amor para ser usado com carinho.
	
	.row.offset-top-60
		.col-xs-12.col-sm-4.text-center
			i.icon-lg.fa.fa-car
			h3.offset-top-30 Ideologia
			p.text-sans.text-light.text-sm.offset-top-15 Criada para atender a demanda por produtos de alta qualidade, economia, praticidade e absorção, as Toalhas Classe A surgem no mercado como uma das melhores opções em custo benefício para seus clientes.
		
		.col-xs-12.col-sm-4.text-center
			i.icon-lg.fa.fa-car
			h3.offset-top-30 Foco
			p.text-sans.text-light.text-sm.offset-top-15 Nossa missão é levar aos nossos parceiros, produtos de alta qualidade de forma a superar suas expectativas. Comprometendo-se com a transparência em suas negociações. As toalhas Classe A está pronta para atender as necessidades do mercado para fabricação de toalhas interfolhadas.
		
		.col-xs-12.col-sm-4.text-center
			i.icon-lg.fa.fa-car
			h3.offset-top-30 Valores
			p.text-sans.text-light.text-sm.offset-top-15 Temos como valores inegociaveis a ética, a tranparência e compromisso com nossos clientes e parceiros, respeitando o meio ambiente. Atualmente a credilididade das Toalhas Interfolha Calsse A tem conquistado clientes em toda sua região de atuação.