.page-header(style='background-image: url("../images/banner-about.jpg")')
	.cover
	.container
		.row
			.col-xs-12
				h1.text-white.text-xlg Sobre a Empresa

.container
	.row.offset-top-30
		.col-xs-12
			h2.text-center.text-lg Quem somos
			p.text-center.text-sans.text-sm.text-light Desenvolvemos com amor para ser usado com carinho.
	
	.row.offset-top-60.offset-bottom-60
		.col-xs-12.col-sm-4.text-center.offset-bottom-30
			i.icon-lg.fill-icon.fa.fa-bank
			h3.offset-top-30 Ideologia
			p.text-light.text-sm.offset-top-15 Criada para atender a demanda por produtos de alta qualidade, economia, praticidade e absorção, as Toalhas Classe A surgem no mercado como uma das melhores opções em custo benefício para seus clientes.
		
		.col-xs-12.col-sm-4.text-center.offset-bottom-30
			i.icon-lg.fill-icon.fa.fa-eye
			h3.offset-top-30 Foco
			p.text-light.text-sm.offset-top-15 Nossa missão é levar aos nossos parceiros, produtos de alta qualidade de forma a superar suas expectativas. Comprometendo-se com a transparência em suas negociações. As toalhas Classe A está pronta para atender as necessidades do mercado para fabricação de toalhas interfolhadas.
		
		.col-xs-12.col-sm-4.text-center.offset-bottom-30
			i.icon-lg.fill-icon.fa.fa-cubes
			h3.offset-top-30 Valores
			p.text-light.text-sm.offset-top-15 Temos como valores inegociaveis a ética, a tranparência e compromisso com nossos clientes e parceiros, respeitando o meio ambiente. Atualmente a credilididade das Toalhas Interfolha Calsse A tem conquistado clientes em toda sua região de atuação.

	.row
		.col-xs-12
			.separator.separator-lg

	.row.offset-top-30.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg A Empresa
			p.text-center.text-sans.text-sm.text-light.offset-bottom-60  Um pouquinho da nossa história para você.

			p.text-sm.text-light.offset-bottom-30
				| As Toalhas Interfolha Classe A estão presente no mercado para oferecer aos seus clientes qualidade, praticidade e economia. Disponíveis em quatro tipos de papel de acordo com o perfil de cada cliente, sendo: 100% Celulose, Branco Luxo, Branco e Natural.
			p.text-sm.text-light.offset-bottom-30
				| Temos como valores inegociaveis a ética, a tranparência e compromisso com nosso clientes e parceiros. Atualmente as credilididade das Toalhas Interfolha Calsse A tem conquistado clientes em tudo sua região de atuação.
			p.text-sm.text-light.offset-bottom-60
				| Trabalhamos com a distribuição de nossos produtos na região serrana do Rio de Janeiro, com atentimento rápido e eficaz, conquistando dia-a-dia a confiança de seus distribuidores.