.page-header(style='background-image: url("../images/banner-products.png")')
	.cover
	.container
		.row
			.col-xs-12
				h1.text-white.text-xlg Produtos

.container
	.row.offset-top-30
		.col-xs-12
			h2.text-center.text-lg Produtos
			.separator
			p.text-center.text-sans.text-sm.text-light Produtos de alta tecnologia 100% celulose.

			p.text-center.text-light.text-sm.offset-top-30
				| As Toalhas Interfolha Classe A estão presente no mercado para oferecer aos seus clientes qualidade, praticidade e economia. Disponíveis em quatro tipos de papel de acordo com o perfil de cada cliente, sendo: 100% Celulose, Branco Luxo, Branco e Natural.

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel Interfolha

		.col-xs-12.col-sm-6.col-md-3.product(ng-repeat='item in product.papel track by $index')
			a(ng-click="openLightboxModal(product.papel,$index)")
				.picture(ng-style="{'background-image':'url({{item.url}})'}")
			p.text-center.offset-top-15
				a(target="_blank" ng-href="download.php?image={{item.url}}")
					span.glyphicon.glyphicon-download
					| Baixar Imagem
			p.text-center {{item.caption}}
			p.text-center
				b {{item.cod}}

	.row
		.col-xs-12
			.separator

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel Higiênico Institucional

		.col-xs-12.col-sm-6.col-md-3.product(ng-repeat="item in product.higienico track by $index")
			a(ng-click="openLightboxModal(product.higienico,$index)")
				.picture(ng-style="{'background-image':'url({{item.url}})'}")
			p.text-center.offset-top-15
				a(target="_blank" ng-href="download.php?image={{item.url}}")
					span.glyphicon.glyphicon-download
					| Baixar Imagem
			p.text-center {{item.caption}}
			p.text-center
				b {{item.cod}}

	.row
		.col-xs-12
			.separator

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel em Caixa

		.col-xs-12.col-sm-6.col-md-3.product(ng-repeat="item in product.caixa track by $index")
			a(ng-click="openLightboxModal(product.caixa,$index)")
				.picture(ng-style="{'background-image':'url({{item.url}})'}")
			p.text-center.offset-top-15
				a(target="_blank" href="download.php?image={{item.url}}")
					span.glyphicon.glyphicon-download
					| Baixar Imagem
			h4.text-center.offset-bottom-15 {{item.caption}}
			.items(ng-repeat='i in item.items')
				p.text-center {{i.title}}
				p.text-center.offset-bottom-15
					b cód. {{i.cod}}