.page-header(style='background-image: url("../images/banner-products.png")')
	.cover
	.container
		.row
			.col-xs-12
				h1.text-white.text-xlg Produtos

.container
	.row.offset-top-30
		.col-xs-12
			h2.text-center.text-lg Produtos
			.separator
			p.text-center.text-sans.text-sm.text-light Produtos de alta tecnologia 100% celulose.

			p.text-center.text-light.text-sm.offset-top-30
				| As Toalhas Interfolha Classe A estão presente no mercado para oferecer aos seus clientes qualidade, praticidade e economia. Disponíveis em quatro tipos de papel de acordo com o perfil de cada cliente, sendo: 100% Celulose, Branco Luxo, Branco e Natural.

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel Interfolha

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/interfolhas/eco.png")
				.picture(style='background-image: url("../images/products/interfolhas/eco.png")')
			p.text-center.offset-top-15 ECO 20x21 c/ 1.000
			p.text-center
				b cód. 7898642600015

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/interfolhas/branco-plus.png")
				.picture(style='background-image: url("../images/products/interfolhas/branco-plus.png")')
			p.text-center.offset-top-15 Branco Plus 20x21 c/ 1.000
			p.text-center
				b cód. 7898642600022

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/interfolhas/premium.png")
				.picture(style='background-image: url("../images/products/interfolhas/premium.png")')
			p.text-center.offset-top-15 Premium 20x21 c/ 1.000
			p.text-center
				b cód. 7898642600046

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/interfolhas/premium-plus.png")
				.picture(style='background-image: url("../images/products/interfolhas/premium-plus.png")')
			p.text-center.offset-top-15 Premium Plus 20x21 c/ 1.000
			p.text-center
				b cód. 7898642600060

	.row
		.col-xs-12
			.separator

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel Higiênico Institucional

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/higienico/eco.png")
				.picture(style='background-image: url("../images/products/higienico/eco.png")')
			p.text-center.offset-top-15 ECO 300 8x150m
			p.text-center
				b cód. 7898642600107

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/higienico/branco-plus.png")
				.picture(style='background-image: url("../images/products/higienico/branco-plus.png")')
			p.text-center.offset-top-15 Branco Plus 8x300m
			p.text-center
				b cód. 7898642600114

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/higienico/premium.png")
				.picture(style='background-image: url("../images/products/higienico/premium.png")')
			p.text-center.offset-top-15 Premium 8x300m
			p.text-center
				b cód. 7898642600138

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/higienico/premium-plus.png")
				.picture(style='background-image: url("../images/products/higienico/premium-plus.png")')
			p.text-center.offset-top-15 Premium Plus 8x300m
			p.text-center
				b cód. 7898642600152

	.row
		.col-xs-12
			.separator

	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h2.text-center.text-lg.offset-bottom-30 Papel em Caixa

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/caixa/interfolha.png")
				.picture(style='background-image: url("../images/products/caixa/interfolha.png")')
			h4.text-center.offset-top-15.offset-bottom-15 Papel Interfolha
			p.text-center Luxo 20x21 c/ 2.000
			p.text-center
				b cód. 7898642600084
			p.text-center.offset-top-15 100% Celulose 20x21 c/ 2.000
			p.text-center
				b cód. 7898642600091

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/caixa/higienico.png")
				.picture(style='background-image: url("../images/products/caixa/higienico.png")')
			h4.text-center.offset-top-15.offset-bottom-15 Papel Higiênico Institucional
			p.text-center Branco Plus 8x300m
			p.text-center
				b cód. 7898642600121
			p.text-center.offset-top-15 Premium 8x300m
			p.text-center
				b cód. 7898642600145
			p.text-center.offset-top-15 Premium Plus 8x300m
			p.text-center
				b cód. 7898642600169

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/caixa/bobina.png")
				.picture(style='background-image: url("../images/products/caixa/bobina.png")')
			h4.text-center.offset-top-15.offset-bottom-15 Toalha de Papel em Bobina
			p.text-center Branco Plus 6x200m
			p.text-center
				b cód. 7898642600190
			p.text-center.offset-top-15 Premium 6x200m
			p.text-center
				b cód. 7898642600206
			p.text-center.offset-top-15 Premium Plus 6x200m
			p.text-center
				b cód. 7898642600213

		.col-xs-12.col-sm-6.col-md-3.product
			a(target="_blank" href="../images/products/caixa/hospitalar.png")
				.picture(style='background-image: url("../images/products/caixa/hospitalar.png")')
			h4.text-center.offset-top-15.offset-bottom-15 Lençol Hospitalar
			p.text-center Branco Extra Luxo 10x50m
			p.text-center
				b cód. 7898642600176
			p.text-center.offset-top-15 100% Celulose 10x50m
			p.text-center
				b cód. 7898642600183